{% extends 'base.html.twig' %}

{% block title %}BabyFoot By CCI - Connexion{% endblock %}

{% block body %}
    <div class="hero overlay" style="background-image: url('images/bg_3.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">          
          <div class="d-flex register_card flex-column">
          <div class="p-4">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}


                <h1 class="h3 mb-3 font-weight-normal">Page de Connexion</h1>
                <div>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <div class="d-flex justify-content-center flex-row" style="gap: 2rem;">
                    <button class="btn" type="submit">Se connecter</button>
                    <a href="{{ path('app_register') }}">S'inscire</a>
                </div>
            </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
{% endblock %}
