{% extends 'base.html.twig' %}

{% block title %}BabyFoot By CCI - Matchs{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/CSI-WEB-8/Documents/GitHub/App-BabyFoot/src/Controller/GamesController.php</code></li>
        <li>Your template at <code>C:/Users/CSI-WEB-8/Documents/GitHub/App-BabyFoot/templates/games/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
